[Unit]
Description=Simple Node.js app
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory={{ app_dir }}
EnvironmentFile=/etc/nodeapp.env
ExecStart=/usr/bin/node {{ app_dir }}/app.js
Restart=always

[Install]
WantedBy=multi-user.target