[Unit]
Description=Simple Node.js app
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory={{ webserver_app_dir }}
EnvironmentFile=/etc/nodeapp.env
ExecStart=/usr/bin/node {{ webserver_app_dir }}/app.js
Restart=always

[Install]
WantedBy=multi-user.target